---
import Layout from "../layouts/Layout.astro";
import TheNavbar from "../components/TheNavbar.astro";
import HeroSection from "../components/HeroSection.astro";
import EnginesSection from "../components/EnginesSection.astro";
import FeaturesSection from "../components/FeaturesSection.astro";
import HistorySpotlightSection from "../components/HistorySpotlightSection.astro";
import HowItWorksSection from "../components/HowItWorksSection.astro";
import DownloadSection from "../components/DownloadSection.astro";
import TheFooter from "../components/TheFooter.astro";
---

<Layout>
  <TheNavbar />
  <main>
    <HeroSection />
    <EnginesSection />
    <FeaturesSection />
    <HistorySpotlightSection />
    <HowItWorksSection />
    <DownloadSection />
  </main>
  <TheFooter />
</Layout>
